/* ヘッダーリンク　非表示 */
.header__link-inner {
    display: none;
}

.content {
    background-color: #ffffff;
    color: #000000;
}

.container {
    background-color: #ffffff;
}

.login-page {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* ログイン画面フォーム */
.login-page__form {
    width: 100%;
    max-width: 500px;
}
