/* ヘッダーリンク　非表示 */
.header__link-inner {
    display: none;
}

.verify-email-page {
    height: 100vh;
    width: 100%;
    display: grid;
    place-items: center;    
}

.verify-email-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
    width: 100%;
    max-width: 600px;
    text-align: center;
}

.verify-message {
    font-size: 18px;
    font-weight: bold;
}
